@model IEnumerable<DataObjects.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ecommerce WarLD</h1>
    <p class="lead">Ecommerce WarLD is a free platform for buying quality products at great reasonable prices.</p>
</div>


<div class="text-center">
    <div class="">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card-body" style="border-style: solid; ">
                        <h2 class="card-title"><b>@Html.DisplayFor(modelItem => item.Name)</b></h2>
                        <h4 class="card-subtitle text-muted">Catrgory: <b>@Html.DisplayFor(modelItem => item.CategoryName)</b></h4>
                        <h4 class="card-subtitle mb-2 text-muted">Price: <b>@Html.DisplayFor(modelItem => item.Price)$</b></h4>
                        <h5 class="card-text">Quantity: <b>@Html.DisplayFor(modelItem => item.Quantity)</b> units</h5>
                        <a href="@Url.Action("Index","Home", new { id = item.ID })">
                            <i class="fas fa-cart-plus fa-3x"></i>
                        </a>
                        <hr />
                    </div>
                </div>
            }
        </div>
    </div> <hr />
</div>

